:root {
    --roxo-escuro: #260849;
    --roxo-fundo: #D4CCF0;
    --roxo-letrabody: #241840;
    --roxo-postit: #9569EE;
    --roxo-detalhes: #6247BD
}
body{
    font-family: 'DynaPuff', cursive;
}
section {
    background-color: var(--roxo-fundo);
}